@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@100&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  background-color: #fdfdfe;
}

/* header part */
header {
  width: 100%;
}

/* Navigation in header */
nav {
  display: flex;
  justify-content: space-between;

  padding: 20px 50px;
  align-items: center;
  width: 70%;
  font-size: 28px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
}
.nagivation {
  width: 100%;

  display: flex;
  justify-content: space-between;
}
nav a {
  text-decoration: none;
  color: #8e98a8;
  transition: background-color, color;
}
nav a:hover {
  background-color: yellow;
  border-radius: 10px;
  padding: 10px 20px;
  color: green;
  cursor: pointer;
}

/* header logo */
.head-pic {
  width: 20%;
  padding-left: 50px;
}
.head-pic img {
  width: 80%;
}
.hamburger {
  display: none;
}

/* Image and heading at the top of page.  */
.academicImage{
    display: flex;
    width: 100%;
    height: 275px;
    background-image: url(images/Group\ 3.png);
    background-size: cover;
}

.academicImage h1{
    position: relative;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: 400; 
    margin-top: 142px; 
    margin-left: 145px;

}

.academicImage h1:before {
    position: absolute;
    top: 1.2em;
    height: 0;
    width: 85px;
    content: '';
    border-top: 1px solid white;
  }


/* Dropdown sections */
button{
    display: flex;
    margin-bottom: 24px;
    font-size: 32px;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: 0em;
    border: none;
    background-color: #fdfdfe;
    align-items: center;
}

button img{
    margin-right: 16px;
}

.container{   
    align-items: center;
    justify-content: center;
    margin-left: 73px;
    margin-right: 73px;
}

.mainInfo{
    display: flex;
    flex-direction: column;
    margin-top: 29px;
    margin-bottom: 56px;
}

.firstP{
    font-size: 24px;    
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.045em;
    text-align: left;
}

.paragraph_image{
    margin-top: 56px;
}

.group_image{
    float: right;
    width: 496px;
    height: 256px;
    margin-left: 40px;
}

.paragraph_image p{
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.05em;
    text-align: left;
}

.lastP{  
    margin-top: 56px; 
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.05em;
    text-align: center;
}

.content{
    display: flex;
    flex-direction: column;
    padding: 0 18px;
    display: none;
    overflow: hidden;
    margin-bottom: 20px;
}

.content_div{
    display: flex;
    flex-direction: row;
    align-content: space-between;
}

.content_p2{
    margin-top: 24px;
}

.img2{
    float: right;
    width: 80%px;
    height: 280px;
    margin-left: 97px;
    margin-right: 0;
}

.img1{
    float: left;
    width: 465px;
    height: 280px;
    margin-right: 97px;
}

.content p{    
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.05em;     
}

.collapsible {
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
}

.explore{
    width: auto;
    height: 477px;    
    display: flex;    
    flex-direction: column;
    margin-bottom: 145px;
}

.explore h1{
    height: 54px;
    width: auto;
    font-size: 36px;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: -0.045em;
    text-align: center;  
}

.explore h1 img{
    margin-left: 14px;
}

.explore_content{
    width: auto;
    height: 317px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.explore_content img{
    width: 446px;
    height: 234px;
    border-radius: 15px;
    margin-top: 76px;
}

.explore_content h2{
    width: 446px;   
    font-size: 36px;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: -0.005em;
    text-align: left;
    margin-top: 24px;
}

/* Admissions styling */

.admissionInfo{
    display: flex;
    flex-direction: column;
    margin-top: 64px; 
}

.admissionInfo p{
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.05em;
    text-align: left;
    gap: 30px;
}

.stpetersInfo{
    margin-top: 5% ;
}

.stpetersInfo h1{
    font-family: Inter;
    font-size: 48px;
    font-weight: 600;
    line-height: 72px;
    letter-spacing: -0.045em;
    text-align: left;
    margin-bottom: 20px;
}

.stpetersInfo p{
    font-family: Inter;
font-size: 20px;
font-weight: 500;
line-height: 30px;
letter-spacing: 0.05em;
text-align: left;
}

.admission_h1{
    font-family: Inter;
    font-size: 48px;
    font-weight: 600;
    line-height: 72px;
    letter-spacing: -0.045em;
    text-align: left;
    margin-top: 5%;
}

.procedureP{
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.05em;
    text-align: left;
    margin-top: 3%;
}

.admission_categories{
    display: flex;
    flex-direction: row;
    gap: 6%;
    justify-content: center;
    margin-top: 3%;
}

button{
    height: 64px;
    width: 270px;
    border-radius: 15px;
    padding: 14px 69px 14px 69px;
    background: #46A724;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0.04em;
    text-align: center;
    margin: 10% auto 8% auto;
}


@media screen and (max-width: 1175px) {
    nav {
      font-size: 16px;
    }
  }
  
  @media screen and (max-width: 912px) {

    .academicImage{
        display: flex;
        width: 100%;
        height: 84px;
        background-image: url(images/Group\ 3.png);
        background-size: cover;
    }
    
    .academicImage h1{
        color: white;
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        font-weight: 400; 
        margin-top: 51px; 
        margin-left: 20px; 
        line-height: 24px;
        letter-spacing: -0.07em;
        text-align: left;    
    }

    .academicImage h1:before {
        position: absolute;
        top: 1.2em;
        height: 0;
        width: 85px;
        content: '';
        border-top: 1px solid #46A724;;
      }

    
    button{
        display: flex;
        margin-bottom: 24px;
        font-size: 16px;
        font-weight: 500;
        line-height: 150%;
        letter-spacing: 0em;
        border: none;
        background-color: #fdfdfe;
        align-items: center;
    }
    
    button img{
        margin-right: 7px;
    }
    
    .container{   
        align-items: center;
        justify-content: center;
        margin-left: 20px;
        margin-right: 20px;
        width: 50;
    }
    
    .mainInfo{
        display: flex;
        flex-direction: column;
        margin-top: 29px;
        margin-bottom: 39px;
    }
    
    .firstP{
        font-size: 14px;
        font-weight: 600;
        line-height: 18px;
        letter-spacing: -0.045em;
        text-align: center;
        width: auto;    
    }
    
    .paragraph_image{
        flex-direction: row;
        justify-content: space-between;
        margin-top: 18px;
        height: 250px;
    }
    
    .paragraph_image p{
        float: left;
        width: 352px;
        font-size: 12px;
        font-weight: 500;
        line-height: 17.94px;
        letter-spacing: 0.05em;
       
    }

    .paragraph_image img{
        float: right;
        height: 109px;
        width: 166.5px;
    }
    
    .lastP{  
        margin-top: 18px; 
        font-size: 12px;
        font-weight: 500;
        line-height: 17.94px;
        letter-spacing: 0.05em;
        text-align: center;
    }

    /* Styling for curriculum and drop down categories */
    
    .content{
        /* display: flex;
        /* flex-direction: column;         
        display: none;
        overflow: hidden; */
        margin-bottom: 20px;
    }
        
    .content_p2{
        margin-top: 24px;
    }
    
    .img2{
        float: right;
        margin-left: 21px;
        width: 94.31px;
        height: 85px;
        clear: none;
    }
    
    .img1{    
        float: left;   
        width: 94.31px;
        height: 85px;
        margin-right: 21px;        
    }

    .content_p1{
        float: left;
        clear: both;
    }
    
    .content p{  
        font-size: 12px;
        font-weight: 500;
        line-height: 17.94px;
        letter-spacing: 5%;     
    }
    
    .collapsible {
        cursor: pointer;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
    }
    
    .explore{        
        height: 477px;    
        display: flex;    
        flex-direction: column;
        margin-bottom: 50px;
        text-align: center;      
        align-items: center;    
    }
    
    .explore h1{
        height: 30px;     
        font-size: 20px;
        font-weight: 600;
        line-height: 54px;
        letter-spacing: -0.045em;
        text-align: center;  
        justify-content: center;
    }   
    
    .explore_content{        
        height: 369px;
        gap: 27px;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin-top: 58px;
    }
    
    .explore_content img{
        width: 275px;
        height: 142px;
        border-radius: 15px;
        margin-top: 0px;
        text-align: center;
        justify-content: center;
    }
    
    .explore_content h2{
        width: auto;        
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: -0.005em;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-top: 1px;
    }

    hr {
        display: block;
        background-color:black;
        margin-top: 0.5em;
        width: 137.5px;        
        height: 3px;
      }

      /* Admissions styling */

    .admissionInfo{
        display: flex;
        flex-direction: column;
        margin-top: 10%; 
    }

    .admissionInfo p {
        font-family: Inter;
        font-size: 12px;
        font-weight: 500;
        line-height: 18px;
        letter-spacing: 0.05em;
        text-align: left;
        gap: 30px;
    }

    .stpetersInfo{
        margin-top: 5% ;
    }

    .stpetersInfo h1{
        font-family: Inter;
        font-size: 24px;
        font-weight: 600;
        line-height: 36px;
        letter-spacing: -0.045em;
        text-align: left;        
        margin-bottom: 20px;
    }

    .stpetersInfo p{
        font-family: Inter;
        font-size: 12px;
        font-weight: 500;
        line-height: 18px;
        letter-spacing: 0.05em;
        text-align: left;
    }

    .admission_h1{
        font-family: Inter;
        font-size: 24px;
        font-weight: 600;
        line-height: 36px;
        letter-spacing: -0.045em;
        text-align: left;
        margin-top: 5%;
    }

    .procedureP{
        font-family: Inter;
        font-size: 12px;
        font-weight: 500;
        line-height: 18px;
        letter-spacing: 0.05em;
        text-align: left;
        margin-top: 3%;
    }

    .admission_categories{
        display: flex;
        flex-direction: column;
        gap: 28px;
        justify-content: center;
        text-align: center;
        width: auto;
        margin-top: 3%;
    }

    .admission_categories img{
        width: 50%;        
    }

    button{
        height: 28px;
        width: 126px;
        left: 132px;
        top: 1648px;
        border-radius: 15px;
        padding: 5px 30px 5px 30px;
        background: #46A724;
        color: #FFFFFF;
        font-family: Inter;
        font-size: 12px;
        font-weight: 500;
        line-height: 36px;
        letter-spacing: 0.04em;
        text-align: center;
        margin: 10% auto 8% auto;
    }
  }

